//ABOUT PAGE STYLING

$orange: #F19c33;
$dark-blue: #162C40;

h1 {
    font-family: "Broadway";
}

body {
    //background-color: $dark-blue;
    color: black;
}

.owner-row {
    text-align: center;
    color: white;
    background-color: $dark-blue;
    padding: 20px;
}

.owner img {
    width: 90%;
    border: 2px solid black;
}

.owner h3 {
    margin-top: 10px;
}

.owner-description {
    font-size: 1.1em;
    background-color: #f3f3f3;
    border: 2px solid black;
    color: black;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 5px;

}

.trainers {
    background-color: #f3f3f3;
    text-align: center;
    margin-bottom: 20px;
}

.trainers div img {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    border: 2px solid black;
    border-bottom: 0;
}

.trainer-description {
    background-color: $orange;
    color: black;
    margin: auto;
    width: 90%;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
}

.trainer-description h4 {
    text-decoration: underline;
    font-weight: bold;
}

.our-mission {
    background-color: $dark-blue;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
}

.our-mission p {
    width: 80%;
    margin: 10px auto 10px auto;
}

.clients {
    text-align: center;
}

.clients2 {
    text-align:center;
}

.clients div img {
    border-radius: 50%;
    max-height: 350px;
    width: 350px;
    margin: auto;
}

.clients2 div img {
    border-radius: 50%;
    max-height: 350px;
    width: 350px;
    margin: auto;
}

.clients .client1-quote {
    position: relative;
    top: 30%;
    width: 80%;
    font-size: 1.25em;
}

.clients2 .client2-quote {
    position: relative;
    top: 30%;
    width: 80%;
    font-size: 1.25em;
    margin: auto;
}
